html {
	font-family: Montserrat, sans-serif;
	line-height: 1.5;
	color: #4a4a4a;
	font-weight: 300;
}
body {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
	background-color: #cccace;
	color: #a29fa9;
}
header{
	text-align: center;
	overflow: hidden;
}
p {
	margin: 0; }
.container {			
	max-width: 960px;
	margin: 0 auto;
	padding: 0 0.75rem;
}

.slider-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.slider-panel {
    width: 100%;
}

.slider-panel img {
    width: 100%;
    height: auto;
}

.slider-panel h3 {
    text-align: center;
}

.beer-slider {
	margin-bottom: 1.5rem;
    width: 100%;
}
.beer-slider[data-beer-label]:after,
.beer-reveal[data-beer-label]:after {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
}
.beer-slider {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1000px) {
    .slider-row {
        grid-template-columns: 1fr;
    }
}

/*@media screen and (min-width: 768px) {
	.examples {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.examples .beer-slider {
		max-width: calc(50% - 12px);
		margin-left: 0;
		margin-right: 0;
	}
}*/

.examples h2 {
	width: 100%;
}
